<!DOCTYPE html>
<html lang="en">

<head>
	<title>ReplStats - Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="../static/img/stonks.png">
	<link rel="stylesheet" href="../static/css/bulma.min.css">
</head>

<body>
	<section class="hero is-danger is-bold is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title">An Error Occured!</h1>
                <h3 class="subtitle">
                    While fetching stats for "<b>{{name}}</b>", and error occured.
                    The URL is likely invalid, please try again.
                </h3>
                <br>
                <a class="button is-info is-large" href="/">Return Home!</a>
            </div>
        </div>
    </section>
</body>

</html>
