<!DOCTYPE html>
<html lang="en">

<head>
    <title>ReplStats - {{ name }}</title>

    <meta charset="UTF-8">
    <meta name="theme-color" content="#ff5aac">
    <meta name="robots"      content="index, follow">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="View analytics data for {{ name }}.">

    <meta property="og:type"        content="website">
    <meta property="og:title"       content="ReplStats - {{ name }}">
    <meta property="og:site_name"   content="ReplStats - {{ name }}">
    <meta property="og:image"       content="../static/img/stonks.png">
    <meta property="og:description" content="View analytics data for {{ name }}.">

    <link rel="shorcut icon" href="../static/img/stonks.png">

    <link rel="preload" href="../static/css/bulma.min.css" as="style">
    <link rel="preload" href="../static/js/zoom-plugin.js" as="script">
    <link rel="preload" href="../static/js/secure.js"      as="script">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    <link rel="stylesheet" href="../static/css/bulma.min.css">

    <script src="../static/js/secure.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="//cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="//cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
</head>

<body>
<section class="hero is-black is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="subtitle"> {{ name.title() }} Hits by Day</h1>
            <h1 class="subtitle">
                Best Day: <p style="color: green; display: inline;">{{ stats["max"] }}</p> Hits
                <br>
                Worst Day: <p style="color: red; display: inline;">{{ stats["min"] }}</p> Hits
            </h1>
            <canvas id="replStats" width="800" height="450"></canvas>
            <br>
            <a class="button is-dark is-fullwidth" href="/">Back to Search</a>
        </div>
    </div>
</section>

<script>
    var DATA = {{ stats["raw_hits"] | safe }};
    var LABELS = {{ stats["raw_days"] | safe }};
    var ZOOM = {
        zoom: {
            pan: {
                enabled: true,
                mode: 'xy',
                rangeMin: {
                    x: null,
                    y: null
                },
                rangeMax: {
                    x: null,
                    y: null
                },
                speed: 20,
                threshold: 10,
                onPan: function({chart}) { console.log(`I'm panning!!!`); },
                onPanComplete: function({chart}) { console.log(`I was panned!!!`); }
            },

            zoom: {
                enabled: true,
                drag: true,
                mode: 'xy',

                rangeMin: {
                    x: null,
                    y: null
                },
                rangeMax: {
                    x: null,
                    y: null
                },

                speed: 0.1,
                threshold: 2,
                sensitivity: 3,

                onZoom: function({chart}) { console.log(`I'm zooming!!!`); },
                onZoomComplete: function({chart}) { console.log(`I was zoomed!!!`); }
            }
        }
    };
    
    window.onload = function() {
        window.statsChart = new Chart(
            document.getElementById("replStats"),
            {
                type: "line",
                scaleFontColor: "white",
                data: {
                    labels: LABELS,
                    datasets: [{ 
                        data: DATA,
                        fill: true,
                        lineTension: 0,
                        label: "Visit Count",
                        borderColor: "#FF5AAC",
                        backgroudColor: "#3E95CD"
                    }]
                },
                options: {
                    legend: {
                        fontColor: "white",
                        labels: {fontColor: "whitesmoke"}
                    },
                    scales: {
                        yAxes: [{
                            ticks: {fontColor: "white"},
                            gridLines: {color: "#262626"}
                        }],
                        xAxes: [{
                            ticks: {fontColor: "white"},
                            gridLines: {color: "#262626"}
                        }]
                    }
                },
                plugins: [ZOOM]
            }
        );
    };
</script>
</body>

</html>